<div class="my-5">
  <%= form_with(model: [:admins, product]) do |form| %>
    <% if product.errors.any? %>
      <div class="notification is-danger is-light" id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, class: 'label' %>
      <div class="control">
        <%= form.text_field :title, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description, class: 'label' %>
      <div class="control">
        <%= form.text_area :description, class: 'textarea' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :stock, class: 'label' %>
      <%= form.number_field :stock, class: 'input' %>
    </div>

    <div class="field">
      <%= form.label :categories, class: 'label' %>
      <div class="select is-multiple">
        <%= form.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true}) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :status, class: 'label' %>
      <div class="select">
        <%= form.select :status, Product.statuses.keys.map { |s| [s.humanize, s] } %>
      </div>
    </div>

    <div class="field mt-5">
      <% if product.primary_image.attached? %>
        <label class="label">Currently: <%= product.primary_image.filename %></label>
        <div class="is-inline-flex is-flex-direction-column is-align-items-center my-5">
          <%= image_tag product.primary_image, width: '150px', class: 'mb-3' %>
          <%= link_to 'X', '/admins/products/' + product.id.to_s + '/delete_image/' + product.primary_image.id.to_s, class: 'button is-danger is-outlined' %>
        </div>
      <% else %>
        <%= form.label :primary_image, class: 'label' %>
      <% end %>
      <div class="file has-name is-link">
        <label class="file-label">
          <%= form.file_field :primary_image, class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a primary image
            </span>
          </span>
          <span class="file-name">
              No file uploaded
          </span>
        </label>
      </div>
    </div>

    <div class="field mt-5">
      <% if product.supporting_images.attached? %>
        <label class="label">Currently: 
          <%= product.supporting_images&.map(&:filename).join(', ') %>
        </label>
        <% product.supporting_images.each do |sp| %>
          <div class="is-inline-flex is-flex-direction-column is-align-items-center mr-2 my-5">
            <%= image_tag sp, width: '150px', class: 'mb-3' %>
            <%= link_to 'X', '/admins/products/' + product.id.to_s + '/delete_image/' + sp.id.to_s, class: 'button is-danger is-outlined' %>
          </div>
        <% end %>
      <% else %>
        <%= form.label :supporting_images, class: 'label' %>
      <% end %>
      <div class="file has-name is-info">
        <label class="file-label">
          <%= form.file_field :supporting_images, class: 'file-input', multiple: true %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a supporting images
            </span>
          </span>
          <span class="file-name">
              No file uploaded
          </span>
        </label>
      </div>
    </div>

    <div class="action">
      <%= form.submit 'Submit', class: 'button is-primary is-outlined mt-3' %>
    </div>
  <% end %>
</div>