<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.categories.empty? ? 'NA' : @product.categories&.map(&:name).join(', ') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status.humanize %>
</p>

<% if @product.primary_image.attached? %>
  <div class="my-3">
    <p><strong>Primary Image:</strong></p>
    <% if @product.primary_image.attached? %>
      <%= image_tag @product.primary_image, width: '250px', class: 'mt-2' %>
      <%= link_to 'Remove', '/admins/products/delete_primary_image/' + @product.primary_image.id.to_s, class: 'button is-danger is-outlined' %>
    <% end %>
  </div>
<% end %>

<% if @product.supporting_images.attached? %>
  <div class="my-3">
    <p><strong>Supporting Images:</strong></p>
      <% @product.supporting_images.each do |image| %>
        <%= image_tag image, width: '250px', class: 'mt-2 mr-2' %>
        <%= link_to 'Remove', '/admins/products/delete_supporting_images/' + image.id.to_s, class: 'button is-danger is-outlined' %>
      <% end %>
  </div>
<% end %>

<br>

<%= link_to 'Edit', edit_admins_product_path(@product), class: 'button is-success is-outlined mr-3' %>
<%= link_to 'Back', admins_products_path, class: 'button is-danger is-outlined' %>
