<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.categories.empty? ? 'NA' : @product.categories&.map(&:name).join(', ') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status.humanize %>
</p>

<% if @product.primary_image.attached? %>
  <div class="my-3">
    <p><strong>Primary Image:</strong></p>
    <% if @product.primary_image.attached? %>
      <div class="is-inline-flex is-flex-direction-column is-align-items-center">
        <%= image_tag @product.primary_image, width: '250px', class: 'mt-2' %>
        <%= link_to 'X', '/admins/products/delete_image/' + @product.primary_image.id.to_s, class: 'button is-danger is-outlined' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @product.supporting_images.attached? %>
  <div class="my-3">
    <p><strong>Supporting Images:</strong></p>
      <% @product.supporting_images.each do |image| %>
        <div class="is-inline-flex is-flex-direction-column is-align-items-center">
          <%= image_tag image, width: '250px', class: 'mt-2 mr-2' %>
          <%= link_to 'X', '/admins/products/delete_image/' + image.id.to_s, class: 'button is-danger is-outlined' %>
        </div>
      <% end %>
  </div>
<% end %>

<br>

<%= link_to 'Edit', edit_admins_product_path(@product), class: 'button is-success is-outlined mr-3' %>
<%= link_to 'Back', admins_products_path, class: 'button is-danger is-outlined' %>
